 {% extends "base.html" %}
 {% block content %}


<html lang="en">
<head>
  <meta charset="utf-8">
  <title>HTML5 Demo: getUserMedia (Treehouse Blog)</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="video-container">
    <video id="camera-stream" width="500" autoplay></video>
  </div>
  <script>
      // Check that the browser supports getUserMedia.
// If it doesn't show an alert, otherwise continue.
if (navigator.getUserMedia) {
  // Request the camera.
  navigator.getUserMedia(
    // Constraints
    {
      video: true
    },

    // Success Callback
    function(localMediaStream) {
        // Get a reference to the video element on the page.
        var vid = document.getElementById('camera-stream');

        // Create an object URL for the video stream and use this
        // to set the video source.
        vid.src = window.URL.createObjectURL(localMediaStream);
    },

    // Error Callback
    function(err) {
      // Log the error to the console.
      console.log('The following error occurred when trying to use getUserMedia: ' + err);
    }
  );

} else {
  alert('Sorry, your browser does not support getUserMedia');
}

  </script>
</body>
</html>


     <br>
     <div class="container">
     <h1>Face ID Setup</h1>
         <br>
         <h5> Face the camera and press start,</h5>
         <h5> and then wait while we learn to recognize your face.</h5>
        <br>
     <form method="post">
         {% csrf_token %}
         {% if message %}
        <button type="submit" name="start" class="waves-effect waves-light btn-large">Continue</button>
             {% else %}
        <button type="submit" name="start" class="waves-effect waves-light btn-large">Start</button>
         {% endif %}
     </form>

     {% if message %}
        {{ message }}
     {% endif %}

     </div>
     <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock content%}