 {% extends "base.html" %}
{% load static %}

 {% block content %}


    <div class="main-container">
    <header class="header-6">
        <div class="branding">
            <a href="/"> <img class="brand-logo" src= "{% static 'media/vmware-white.png' %}"  width="184" height="60" }} ></a>
        </div>
        <div class="header-nav">

            <a href='/' class="nav-link nav-text">Home</a>
            {% if user.is_authenticated %}
                <a class="nav-link nav-text" href="{% url 'post-create' %}">Feedback</a>
                <a class="nav-link nav-text" href="{% url 'profile' %}">Profile</a>
                <a class="nav-link nav-text" href="{% url 'logout' %}">Logout</a>

            {% else %}
                <a href="{% url 'login' %}" class="nav-link nav-text">Login</a>
                <a href="{% url 'register' %}" class="nav-link nav-text"> Register</a>
            {% endif %}

        </div>

    </header>


      <div class="content-container">
        <div class="content-area">
        <br>
     <h1>Face ID Setup</h1>
         <br>
        {% if not progress %}
         <h5> Face the camera and press start.</h5>
        {% endif %}
        <br>
     <form method="post">
         {% csrf_token %}
         {% if message %}
        <button type="submit" name="start" class="waves-effect waves-light btn-large">Continue</button>
             {% else %}
        <button type="submit" name="start" class="waves-effect waves-light btn-large">Start</button>
         {% endif %}
     </form>

     {% if message %}
        {{ message }}
     {% endif %}
        <br>
        {% if progress %}
            {% if progress == 20 %}
                <div class="progress-static">
                    <div class="progress-meter" data-value="20"></div>
                </div>
             {% elif progress == 40 %}
                <div class="progress-static">
                    <div class="progress-meter" data-value="40"></div>
            </div>
            {% elif progress == 60 %}
                <div class="progress-static">
                    <div class="progress-meter" data-value="60"></div>
            </div>
                {% elif progress == 80 %}
                <div class="progress-static">
                    <div class="progress-meter" data-value="80"></div>
            </div>
            {% endif %}

        {% endif %}

        {% if timeout %}
            {{ timeout }}
        {% endif %}

    <br>
     {% for pic in pics %}
     <img src="{{  pic.pic.url }}" width="256" height="192">
     {% endfor %}

     </div>
      </div>
    </div>
{% endblock content%}
