{% extends 'base.html' %}
{%load plotly_dash%}
{% load static %}
{% block content %}
{% if user.is_superuser %}
    <div class="main-container" >
    <header class="header-6">
    <div class="branding" >
        <a href="/"> <img class="brand-logo" src= "{% static 'media/vmware-white.png' %}"  width="184" height="60" }} ></a>
    </div>
    <div class="header-nav">

        <a href='/' class="nav-link nav-text">Home</a>
        {% if user.is_authenticated %}
            <a class="nav-link nav-text" href="{% url 'post-create' %}">Feedback</a>
            <a class="nav-link nav-text" href="{% url 'profile' %}">Profile</a>
            <a class="nav-link nav-text" href="{% url 'logout' %}">Logout</a>
            <a class="nav-link nav-text active" href="{% url 'Map' %}">Statistics</a>
        {% else %}
            <a href="{% url 'login' %}" class="nav-link nav-text">Login</a>
            <a href="{% url 'register' %}" class="nav-link nav-text"> Register</a>
        {% endif %}

    </div>

    </header>

    <div class="content-container">
        <div class="content-area" >

        {%plotly_app name="Map" ratio=1 %}

        </div>
        <nav class="sidenav">
        <section class="sidenav-content">
            <a href={% url 'Company' %} class="nav-link">
                Company
            </a>
            <a href={% url 'Map' %} class="nav-link active">
                Country
            </a>
        </section>
    </nav>
    </div>
    </div>

    {% else %}
        <h1>You are not authorized to view this page.</h1>
{% endif %}
{% endblock %}
