{% extends "base.html" %}




{% block content %}

    <div class="main-container">

<header class="header-6">
    <div class="branding">
        <a href="/"> <img class="brand-logo" src= 'media/vmware-white.png'  width="184" height="60" }} ></a>
    </div>
    <div class="header-nav">

        <a href='/' class="active nav-link nav-text">Home</a>
        {% if user.is_authenticated %}
            <a class="nav-link nav-text" href="{% url 'post-create' %}">Feedback</a>
            <a class="nav-link nav-text" href="{% url 'profile' %}">Profile</a>
            <a class="nav-link nav-text" href="{% url 'logout' %}">Logout</a>

        {% else %}
            <a href="{% url 'login' %}" class="nav-link nav-text">Login</a>
            <a href="{% url 'register' %}" class="nav-link nav-text"> Register</a>
        {% endif %}

    </div>
    <div class="header-actions">
        <a href="javascript://" class="nav-link nav-icon" aria-label="settings">
            <clr-icon shape="cog"></clr-icon>
        </a>
    </div>
</header>

    <div class="content-container">
        <div class="content-area">

    <h2 style="text-align: left"><br>Feedback</h2>
    {% if not user.is_authenticated %}
        Thank you for visiting VMware EBC <br>
        If you would like to leave a feedback please <a href="/login/">log in</a> or <a href="/register/">register</a>
    {% endif %}

    {% for post in posts %}


                <div class="card">
            <div class="card-block">
                <div class="card-media-block">
                    <img src="{{ post.author.profile.image.url }}" width="50" height="50">
                    <div class="card-media-description">
                        <span class="card-media-title">
                            {{ post.author }}
              <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                        </span>
                        <div class="row">
                          <div class="column">
                        {% if post.title == '1' %}
                        <img src="static/media/star-solid.svg" width="15" height="15">
                        <img src="static/media/star-line.svg" width="15" height="15">
                        <img src="static/media/star-line.svg" width="15" height="15">
                        <img src="static/media/star-line.svg" width="15" height="15">
                        <img src="static/media/star-line.svg" width="15" height="15">
                        {% elif post.title == '2' %}
                        <img src="static/media/star-solid.svg" width="15" height="15">
                        <img src="static/media/star-solid.svg" width="15" height="15">
                        <img src="static/media/star-line.svg" width="15" height="15">
                        <img src="static/media/star-line.svg" width="15" height="15">
                        <img src="static/media/star-line.svg" width="15" height="15">
                        {% elif post.title == '3' %}
                        <img src="static/media/star-solid.svg" width="15" height="15">
                        <img src="static/media/star-solid.svg" width="15" height="15">
                        <img src="static/media/star-solid.svg" width="15" height="15">
                        <img src="static/media/star-line.svg" width="15" height="15">
                        <img src="static/media/star-line.svg" width="15" height="15">
                        {% elif post.title == '4' %}
                        <img src="static/media/star-solid.svg" width="15" height="15">
                        <img src="static/media/star-solid.svg" width="15" height="15">
                        <img src="static/media/star-solid.svg" width="15" height="15">
                        <img src="static/media/star-solid.svg" width="15" height="15">
                        <img src="static/media/star-line.svg" width="15" height="15">
                        {% elif post.title == '5' %}
                        <img src="static/media/star-solid.svg" width="15" height="15">
                        <img src="static/media/star-solid.svg" width="15" height="15">
                        <img src="static/media/star-solid.svg" width="15" height="15">
                        <img src="static/media/star-solid.svg" width="15" height="15">
                        <img src="static/media/star-solid.svg" width="15" height="15">
                        {% endif %}
                          </div>
                        </div>
                    </div>
                </div>
                <div class="card-text">
                 <p class="article-content">{{ post.content }}</p>
                </div>
            </div>
                {% if post.author == user %}
            <div class="card-footer">
            <a href="{% url 'post-update' post.id %}"><img src="static/media/pencil-line.svg" width="15" height="15"></a>
            <a href="{% url 'post-delete' post.id %}"><img src="static/media/trash-line.svg" width="15" height="15"></a>
            </div>
                {% endif %}
        </div>




    {% endfor %}
    <br>
    {% if posts.has_other_pages %}

        <clr-dg-footer>
    <clr-dg-pagination>
        {% if posts.has_previous %}
          <a href="?page={{ posts.previous_page_number }}"> < </a>
        {% else %}
       <span> < </span>
        {% endif %}
        {% for i in posts.paginator.page_range %}
          {% if posts.number == i %}
              <a><b>{{ i }}</b></a>
          {% else %}
            <a href="?page={{ i }}">{{ i }}</a>
          {% endif %}
        {% endfor %}
        {% if posts.has_next %}
          <a href="?page={{ posts.next_page_number }}"> > </a>
        {% else %}
          <span> > </span>
        {% endif %}
    {% endif %}
    <br>
  </clr-dg-pagination>
</clr-dg-footer>
        </div>
        <nav class="sidenav">
        <section class="sidenav-content">
            <a href="https://www.vmware.com/sg/products.html" class="nav-link">
                View our products
            </a>
            <a href="https://www.vmware.com/sg/company/customers.html#" class="nav-link">
                Customer success stories
            </a>
        </section>
        </nav>
    </div>
</div>

{% endblock content %}
