{% extends "base.html" %}
{% block content %}
<div class="container">


</div>

    <div class="container">
    <div class="row">
        <div class="col s6">
          <div class="card">
            <div class="card-image">
              <img src="static/media/tech.jpg" height="300" width="600">
                </div>
                <div class="card-action">
              <a href="products/" class="blue-grey-text">View our products</a>
            </div>
      </div>
    </div>

        <div class="col s6">
          <div class="card">
            <div class="card-image">
              <img src="static/media/customer_success.jpg" height="300" width="600">
                </div>
                    <div class="card-action">
                      <a href="https://www.vmware.com/sg/company/customers.html#" class="blue-grey-text"> Customer Success Stories</a>
                    </div>

      </div>
    </div>
    </div>
</div>

    
    <div class="container">
    <h2 style="text-align: left"><br>Feedback</h2>
    {% if user.is_authenticated %}
    <form method="post">
        {% csrf_token %}
              <div class="row">
                <div class="input-field col s12">
                  <textarea name="content" id="id_content" class="materialize-textarea"  required=""></textarea>
                  <label for="id_content">Enter your feedback here</label>
                    <button type="submit" class="btn waves-effect waves-light">submit <i class="material-icons right">send</i></button>
                </div>
              </div>
    </form>
        {% else %}
    Log in or register to post a feedback
        <br>

    {% endif %}


    <br>

    {% for post in posts %}

        <div class="card horizontal">
          <div class="card-stacked">

            <div class="card-content">
              <div class="article-metadata">
                  <img class="circle" src="{{ post.author.profile.image.url }}" width="50" height="50">
              <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
            </div>
            </div>
            <div class="card-action">
                 <p class="article-content">{{ post.content }}</p>
            </div>
          </div>
        </div>



    {% endfor %}
    <br>
    {% if posts.has_other_pages %}

      <ul class="pagination">
        {% if posts.has_previous %}
          <li><a href="?page={{ posts.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
        {% else %}
          <li class="disabled"><span><i class="material-icons">chevron_left</i></span></li>
        {% endif %}
        {% for i in posts.paginator.page_range %}
          {% if posts.number == i %}
              <li class="active teal lighten-2"><a>{{ i }}</a></li>
          {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if posts.has_next %}
          <li><a href="?page={{ posts.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
        {% else %}
          <li class="disabled"><span><i class="material-icons">chevron_right</i></span></li>
        {% endif %}
      </ul>
    {% endif %}
    <br>

    </div>
{% endblock content %}
