{% extends "base.html" %}
{% block content %}
    <div class="main-container">

<header class="header-6">
    <div class="branding">
        <a href="/"> <img class="brand-logo" src= 'media/vmware-white.png'  width="184" height="60" }} ></a>
    </div>
    <div class="header-nav">

        <a href='/' class="active nav-link nav-text">Home</a>
        {% if user.is_authenticated %}
            <a class="nav-link nav-text" href="{% url 'post-create' %}">Feedback</a>
            <a class="nav-link nav-text" href="{% url 'profile' %}">Profile</a>
            <a class="nav-link nav-text" href="{% url 'logout' %}">Logout</a>
            {% if user.is_superuser %}
            <a class="nav-link nav-text" href="{% url 'Company' %}">Statistics</a>
            {% endif %}
        {% else %}
            <a href="{% url 'login' %}" class="nav-link nav-text">Login</a>
            <a href="{% url 'register' %}" class="nav-link nav-text"> Register</a>
        {% endif %}

    </div>
    <div class="header-actions">
        <a href="javascript://" class="nav-link nav-icon" aria-label="settings">
            <clr-icon shape="cog"></clr-icon>
        </a>
    </div>
</header>

    <div class="content-container">
        <div class="content-area">

    <h2 style="text-align: left"><br>Feedback</h2>
    User Rating:
    {% if avg < 1 %}
    <img src="static/media/star-line.svg" width="25" height="25">
    <img src="static/media/star-line.svg" width="25" height="25">
    <img src="static/media/star-line.svg" width="25" height="25">
    <img src="static/media/star-line.svg" width="25" height="25">
    <img src="static/media/star-line.svg" width="25" height="25">
    {% elif avg < 2 %}
    <img src="static/media/star-solid.svg" width="25" height="25">
    <img src="static/media/star-line.svg" width="25" height="25">
    <img src="static/media/star-line.svg" width="25" height="25">
    <img src="static/media/star-line.svg" width="25" height="25">
    <img src="static/media/star-line.svg" width="25" height="25">
    {% elif avg < 3 %}
    <img src="static/media/star-solid.svg" width="25" height="25">
    <img src="static/media/star-solid.svg" width="25" height="25">
    <img src="static/media/star-line.svg" width="25" height="25">
    <img src="static/media/star-line.svg" width="25" height="25">
    <img src="static/media/star-line.svg" width="25" height="25">
    {% elif avg < 4 %}
    <img src="static/media/star-solid.svg" width="25" height="25">
    <img src="static/media/star-solid.svg" width="25" height="25">
    <img src="static/media/star-solid.svg" width="25" height="25">
    <img src="static/media/star-line.svg" width="25" height="25">
    <img src="static/media/star-line.svg" width="25" height="25">
    {% elif avg < 5 %}
    <img src="static/media/star-solid.svg" width="25" height="25">
    <img src="static/media/star-solid.svg" width="25" height="25">
    <img src="static/media/star-solid.svg" width="25" height="25">
    <img src="static/media/star-solid.svg" width="25" height="25">
    <img src="static/media/star-line.svg" width="25" height="25">
    {% elif avg == 5 %}
    <img src="static/media/star-solid.svg" width="25" height="25">
    <img src="static/media/star-solid.svg" width="25" height="25">
    <img src="static/media/star-solid.svg" width="25" height="25">
    <img src="static/media/star-solid.svg" width="25" height="25">
    <img src="static/media/star-solid.svg" width="25" height="25">
    {% endif %}
    <br>
    {{ avg }} average based on {{ total_posts }} reviews.<br>


    <div class="progress-block">
        <label>5 Star</label>
        <div class="progress">
            <progress value={{ total_rating5 }} max={{ largest }}></progress>
        </div>
        <span>{{ total_rating5 }}</span>
    </div>
    <div class="progress-block">
        <label>4 Star</label>
        <div class="progress">
            <progress value={{ total_rating4 }} max={{ largest }}></progress>
        </div>
        <span>{{ total_rating4 }}</span>
    </div>
    <div class="progress-block">
        <label>3 Star</label>
        <div class="progress">
            <progress value={{ total_rating3}} max={{ largest }}></progress>
        </div>
        <span>{{ total_rating3 }}</span>
    </div>
    <div class="progress-block">
        <label>2 Star</label>
        <div class="progress">
            <progress value={{ total_rating2 }} max={{ largest }}></progress>
        </div>
        <span>{{ total_rating2 }}</span>
    </div>
    <div class="progress-block">
        <label>1 Star</label>
        <div class="progress">
            <progress value={{ total_rating1 }} max={{ largest }}></progress>
        </div>
        <span>{{ total_rating1 }}</span>
    </div>

    {% if not user.is_authenticated %}
        Thank you for visiting VMware EBC <br>
        If you would like to leave a feedback please <a href="/login/">log in</a> or <a href="/register/">register</a>
    {% endif %}

    {% for post in posts %}


                <div class="card">
            <div class="card-block">
                <div class="card-media-block">
                    <img src="{{ post.author.profile.image.url }}" width="50" height="50">
                    <div class="card-media-description">
                        <span class="card-media-title">
                            {% if post.author.username == currentUser %}
                                <a href="{% url 'profile' %}">{{ post.author }}</a>
                            {% else %}
                                 <a href="{% url 'users-profile' post.author.username %}">{{ post.author }}</a>
                            {% endif %}

              <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                        </span>
                        <div class="row">
                          <div class="column">
                        {% if post.rating == 1 %}
                        <img src="static/media/star-solid.svg" width="15" height="15">
                        <img src="static/media/star-line.svg" width="15" height="15">
                        <img src="static/media/star-line.svg" width="15" height="15">
                        <img src="static/media/star-line.svg" width="15" height="15">
                        <img src="static/media/star-line.svg" width="15" height="15">
                        {% elif post.rating == 2 %}
                        <img src="static/media/star-solid.svg" width="15" height="15">
                        <img src="static/media/star-solid.svg" width="15" height="15">
                        <img src="static/media/star-line.svg" width="15" height="15">
                        <img src="static/media/star-line.svg" width="15" height="15">
                        <img src="static/media/star-line.svg" width="15" height="15">
                        {% elif post.rating == 3 %}
                        <img src="static/media/star-solid.svg" width="15" height="15">
                        <img src="static/media/star-solid.svg" width="15" height="15">
                        <img src="static/media/star-solid.svg" width="15" height="15">
                        <img src="static/media/star-line.svg" width="15" height="15">
                        <img src="static/media/star-line.svg" width="15" height="15">
                        {% elif post.rating == 4 %}
                        <img src="static/media/star-solid.svg" width="15" height="15">
                        <img src="static/media/star-solid.svg" width="15" height="15">
                        <img src="static/media/star-solid.svg" width="15" height="15">
                        <img src="static/media/star-solid.svg" width="15" height="15">
                        <img src="static/media/star-line.svg" width="15" height="15">
                        {% elif post.rating == 5 %}
                        <img src="static/media/star-solid.svg" width="15" height="15">
                        <img src="static/media/star-solid.svg" width="15" height="15">
                        <img src="static/media/star-solid.svg" width="15" height="15">
                        <img src="static/media/star-solid.svg" width="15" height="15">
                        <img src="static/media/star-solid.svg" width="15" height="15">
                        {% endif %}
                          </div>
                        </div>
                    </div>
                </div>
                <div class="card-text">
                 <p class="article-content">{{ post.content }}



                 </p>
                </div>
            </div>
                {% if post.author == user %}
            <div class="card-footer">
            <a href="{% url 'post-update' post.id %}"><img src="static/media/pencil-line.svg" width="15" height="15"></a>
            <a href="{% url 'post-delete' post.id %}"><img src="static/media/trash-line.svg" width="15" height="15"></a>
            </div>
                {% endif %}
        </div>




    {% endfor %}
    <br>
        {% if posts.has_other_pages %}

      {% if posts.has_previous %}
        <a class = "btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class = "btn btn-outline-info mb-4" href="?page={{ posts.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in posts.paginator.page_range %}
        {% if posts.number == num %}
          <a class = "btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > posts.number|add:'-3' and num < posts.number|add:'3' %}
          <a class = "btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if posts.has_next %}
        <a class = "btn btn-outline-info mb-4" href="?page={{ posts.next_page_number }}">Next</a>
        <a class = "btn btn-outline-info mb-4" href="?page={{ posts.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}


    <br>
  </clr-dg-pagination>
</clr-dg-footer>
        </div>
        <nav class="sidenav">
        <section class="sidenav-content">
            <a href="https://www.vmware.com/sg/products.html" class="nav-link" target="_blank">
                View our products
            </a>
            <a href="https://www.vmware.com/sg/company/customers.html#" class="nav-link" target="_blank">
                Customer success stories
            </a>
        </section>
        </nav>
    </div>
</div>

{% endblock content %}
