{% extends "base.html"%}
{% load static %}
{%block content%}
    <div class="main-container">
    <header class="header-6">
        <div class="branding">
            <a href="/"> <img class="brand-logo" src= "{% static 'media/vmware-white.png' %}"  width="184" height="60" }} ></a>
        </div>
        <div class="header-nav">

            <a href='/' class="nav-link nav-text">Home</a>
            {% if user.is_authenticated %}
                <a class="active nav-link nav-text" href="{% url 'post-create' %}">Feedback</a>
                <a class="nav-link nav-text" href="{% url 'profile' %}">Profile</a>
                <a class="nav-link nav-text" href="{% url 'logout' %}">Logout</a>

            {% else %}
                <a href="{% url 'login' %}" class="nav-link nav-text">Login</a>
                <a href="{% url 'register' %}" class="nav-link nav-text"> Register</a>
            {% endif %}

        </div>

    </header>

    <br>
<div class="content-container">
        <div class="content-area">
    <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
        <h3>Feedback Form</h3><br>
        How would you rate your VMware EBC Experience? (1 being Very Unsatisfied, 5 being Very Satisfied)<br>
          <!-- <textarea name="title" cols="40" rows="1" required="" id="id_title"></textarea> -->
          <input type="radio" id="rating1" name="title" value="1">
          <label for="1">1</label>
          <input type="radio" id="rating2" name="title" value="2">
          <label for="2">2</label>
          <input type="radio" id="rating3" name="title" value="3">
          <label for="3">3</label>
          <input type="radio" id="rating4" name="title" value="4">
          <label for="4">4</label>
          <input type="radio" id="rating5" name="title" value="5">
          <label for="5">5</label><br>
          <br>
          How do you think your VMware EBC experience can be improved?<br>
          <textarea name="content" cols="40" rows="5" required="" id="id_content"></textarea>
      </fieldset>
      <div class="form-group">
        <button class ="btn btn-outline-info" type="submit">Post</button>
      </div>
    </form>
  </div>
</div>

    </div>
{% endblock content%}
