{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VMware EBC</title>
    <meta charset="UTF-8"/>

    <!-- Load the latest version -->
    <link rel="stylesheet" href="https://unpkg.com/@clr/ui/clr-ui.min.css" />
    <!-- Or load a specific version -->
    <link rel="stylesheet" href="https://unpkg.com/@clr/ui@2.0.0/clr-ui.min.css" />

</head>

<body>


{% block content %}

{% endblock content%}


</div>
{#<clr-dg-footer>#}
{#              <div class="row l6 s12">#}
{#                <img class="brand-logo" src= "{% static 'media/vmware-white.png' %}"  width="184" height="60" }} >#}
{##}
{#                  <ul>#}
{#                    <li><a class="grey-text text-lighten-3" href="https://www.vmware.com/sg/company/contact_sales.html">Contact Sales</a></li>#}
{#                    <li><a class="grey-text text-lighten-3" href="https://www.vmware.com/sg/support/services.html">Get Support</a></li>#}
{#                    <li><a class="grey-text text-lighten-3 row1" href="https://www.vmware.com/sg/company.html">About VMware</a></li>#}
{#                    <li><a class="grey-text text-lighten-3" href="https://careers.vmware.com/main/">Careers</a></li>#}
{#                    <li><a class="grey-text text-lighten-3" href="https://www.vmware.com/radius">Thought Leadership</a></li>#}
{#                  </ul>#}
{#              </div>#}
{#              <div class="row l4 offset-l2 s12">#}
{#                  <br>#}
{#                  <ul>#}
{#                      <li><a class="grey-text text-lighten-3" href="https://www.vmware.com/sg/help/legal.html"><span#}
{#                              style="font-size: small; ">Terms of Use </span></a></li>#}
{#                    <li><a class="grey-text text-lighten-3" href="https://www.vmware.com/help/privacy/california-privacy-rights.html"><span#}
{#                            style="font-size: small; ">Your California Privacy Right </span></a></li>#}
{#                    <li><a class="grey-text text-lighten-3" href="https://www.vmware.com/sg/help/privacy.html"><span#}
{#                              style="font-size: small; ">Privacy </span></a></li>#}
{#                    <li><a class="grey-text text-lighten-3" href="https://www.vmware.com/sg/help/accessibility.html"><span#}
{#                              style="font-size: small; ">Accessibility </span></a></li>#}
{#                    <li><a class="grey-text text-lighten-3" href="https://www.vmware.com/sg/site_index.html"><span#}
{#                            style="font-size: small; ">Site Map </span></a></li>#}
{#                      <li><a class="grey-text text-lighten-3" href="https://www.vmware.com/sg/help/trademarks.html"><span#}
{#                              style="font-size: small; ">Trademarks </span></a></li>#}
{#                      <li><a class="grey-text text-lighten-3" href="https://www.vmware.com/sg/help.html"><span#}
{#                              style="font-size: small; ">Help </span></a></li>#}
{##}
{#                  </ul>#}
{##}
{##}
{#              </div>#}
{#            <div class="container">#}
{#            © 2020 VMware, Inc#}
{#            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>#}
{#            </div>#}
{#</clr-dg-footer>#}
</body>



</html>
