{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VMware EBC</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
<nav class="black">
    <div class="container nav-wrapper">
        <a href="/"> <img class="brand-logo" src= "{% static 'media/vmware-white.png' %}"  width="184" height="60" }} ></a>
        <ul id="nav-mobile" class="right">
            <li><a href="/">Home</a></li>
            {% if user.is_authenticated %}
                <li><a class="right" href="{% url 'post-create' %}">New Post</a>
                <li><a class="right" href="{% url 'profile' %}">Profile</a>
                <li><a class="right" href="{% url 'logout' %}">Logout</a>
            {% else %}
                <li><a class="right" href="{% url 'login' %}">Login</a>
                <li><a class="right" href="{% url 'register' %}">Register</a>
            {% endif %}

        </ul>

    </div>
</nav>


{% block content %}

{% endblock content%}


</div>
<footer class="page-footer black" style="bottom:0;left:0;width:100%;">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <img class="brand-logo" src= "{% static 'media/vmware-white.png' %}"  width="184" height="60" }} >
                  <ul>
                    <li><a class="grey-text text-lighten-3" href="https://www.vmware.com/sg/company/contact_sales.html">Contact Sales</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://www.vmware.com/sg/support/services.html">Get Support</a></li>
                    <li><a class="grey-text text-lighten-3 row1" href="https://www.vmware.com/sg/company.html">About VMware</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://careers.vmware.com/main/">Careers</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://www.vmware.com/radius">Thought Leadership</a></li>
                  </ul>
              </div>
              <div class="col l4 offset-l2 s12">
                  <br>
                  <ul>
                      <li><a class="grey-text text-lighten-3" href="https://www.vmware.com/sg/help/legal.html"><span
                              style="font-size: small; ">Terms of Use </span></a></li>
                    <li><a class="grey-text text-lighten-3" href="https://www.vmware.com/help/privacy/california-privacy-rights.html"><span
                            style="font-size: small; ">Your California Privacy Right </span></a></li>
                    <li><a class="grey-text text-lighten-3" href="https://www.vmware.com/sg/help/privacy.html"><span
                              style="font-size: small; ">Privacy </span></a></li>
                    <li><a class="grey-text text-lighten-3" href="https://www.vmware.com/sg/help/accessibility.html"><span
                              style="font-size: small; ">Accessibility </span></a></li>
                    <li><a class="grey-text text-lighten-3" href="https://www.vmware.com/sg/site_index.html"><span
                            style="font-size: small; ">Site Map </span></a></li>
                      <li><a class="grey-text text-lighten-3" href="https://www.vmware.com/sg/help/trademarks.html"><span
                              style="font-size: small; ">Trademarks </span></a></li>
                      <li><a class="grey-text text-lighten-3" href="https://www.vmware.com/sg/help.html"><span
                              style="font-size: small; ">Help </span></a></li>

                  </ul>


              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2020 VMware, Inc
{#            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>#}
            </div>
          </div>
        </footer>

</body>



</html>