{% extends "base.html" %}
{% load static %}
{% block content %}
    <head>
  <style>
    .fishes
    {
      position:absolute;
        left: 22%;
        top: 60px;
        right: 0px;
        width: auto;
      z-index: 0;
        border-radius: 2%;
    }
    .fish
    {
        position: absolute;
        left: 23%;
        top: 300px;
        border-radius: 50%;
      z-index: 2;
    }
  </style>
</head>

<div class="main-container" >
    <header class="header-6">
    <div class="branding" >
        <a href="/"> <img class="brand-logo" src= "{% static 'media/vmware-white.png' %}"  width="184" height="60" }} ></a>
    </div>
    <div class="header-nav">

        <a href='/' class="nav-link nav-text">Home</a>
        {% if user.is_authenticated %}
            <a class="nav-link nav-text" href="{% url 'post-create' %}">Feedback</a>
            <a class="active nav-link nav-text" href="{% url 'profile' %}">Profile</a>
            <a class="nav-link nav-text" href="{% url 'logout' %}">Logout</a>

        {% else %}
            <a href="{% url 'login' %}" class="nav-link nav-text">Login</a>
            <a href="{% url 'register' %}" class="nav-link nav-text"> Register</a>
        {% endif %}

    </div>

    </header>

    <div class="content-container">
        <div class="content-area">
        <div class="login-wrapper">
<form method="POST" class="login" enctype="multipart/form-data">
    {% csrf_token %}
    <section class="title">
        <h3 class="welcome">Edit Profile</h3>
    </section>
  <fieldset class="form-group">
      {{ u_form.as_p }}
      {{ p_form.as_p }}
    <label>
        {% if checked %}
            <input type="checkbox" id="id_fc" name="fc" checked="checked">
        {% else %}
            <input type="checkbox" id="id_fc" name="fc">
        {% endif %}
      <span for="id_fc">Enable Face ID</span>
    </label>

  </fieldset>
  <div class="form-group">
      <button class="btn btn-primary" type="submit">Update</button>
  </div>
</form>
        </div>
   </div>

    <nav class="sidenav">
        <section class="sidenav-content">
            <a href={% url 'profile' %} class="nav-link">
                Profile
            </a>
            <a href={% url 'editProfile' %} class="active nav-link">
                Edit Profile
            </a>
            <a href="#" class="nav-link">
                Posts
            </a>
        </section>
    </nav>

</div>
{% endblock content %}
