{% extends "base.html" %}
{% load static %}
{%block content%}

    <header class="header-6">
<div class="branding">
    <a href="/"> <img class="brand-logo" src= "{% static 'media/vmware-white.png' %}"  width="184" height="60" }} ></a>
</div>
<div class="header-nav">

    <a href='/' class="nav-link nav-text">Home</a>
    {% if user.is_authenticated %}
        <a class="nav-link nav-text" href="{% url 'post-create' %}">Feedback</a>
        <a class="nav-link nav-text" href="{% url 'profile' %}">Profile</a>
        <a class="nav-link nav-text" href="{% url 'logout' %}">Logout</a>

    {% else %}
        <a href="{% url 'login' %}" class="active nav-link nav-text">Login</a>
        <a href="{% url 'register' %}" class="nav-link nav-text"> Register</a>
    {% endif %}

</div>
<div class="header-actions">
    <a href="javascript://" class="nav-link nav-icon" aria-label="settings">
        <clr-icon shape="cog"></clr-icon>
    </a>
</div>
</header>



    <div class="login-wrapper">
    <form class="login" method="post">
        {% csrf_token %}
        <section class="title">
            <h3 class="welcome">Welcome to</h3>
            VMware EBC
            <h5 class="hint">Sign in or create an account now</h5>
        </section>
        {{ form }}
        <br>
         <button class="btn btn-primary" type="submit">Login</button>
         <a href="{% url 'FaceIDLogin' %}" class="waves-effect waves-light btn">Login with Face ID</a>
        <small class="text-muted ml-2">
          <a href="{% url 'password_reset' %}">Forgot Password</a>
        </small>
        <small class="text-muted">
        Need an account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
      </small>
    </form>

</div>







{% endblock content%}
