{% extends "base.html" %}
{% load static %}
{%block content%}
        <div class="main-container">

<header class="header-6">
    <div class="branding">
        <a href="/"> <img class="brand-logo" src= {% static 'media/vmware-white.png' %}  width="184" height="60" }} ></a>
    </div>
    <div class="header-nav">

        <a href='/' class="nav-link nav-text">Home</a>
        {% if user.is_authenticated %}
            <a class="nav-link nav-text" href="{% url 'post-create' %}">Feedback</a>
            <a class="nav-link nav-text" href="{% url 'profile' %}">Profile</a>
            <a class="nav-link nav-text" href="{% url 'logout' %}">Logout</a>

        {% else %}
            <a href="{% url 'login' %}" class="nav-link nav-text">Login</a>
            <a href="{% url 'register' %}" class="nav-link nav-text"> Register</a>
        {% endif %}

    </div>
    <div class="header-actions">
        <a href="javascript://" class="nav-link nav-icon" aria-label="settings">
            <clr-icon shape="cog"></clr-icon>
        </a>
    </div>
</header>

    <div class="content-container">
        <div class="content-area">
<div class="alert alert-info">
    <div class="alert-items">
        <div class="alert-item static">
            <div class="alert-icon-wrapper">
                <img width="16" height="16" src={% static 'media/error-standard-line.svg' %}>
            </div>
            <span class="alert-text">An email has been sent with instructions to reset your password</span>
            <div class="alert-actions">
                <a href={% url 'login' %} class="alert-action">Back to login</a>
            </div>

</div>
        </div>
    </div>

{% endblock content%}
