{% extends "base.html" %}
{% load static %}
{% block content %}
    <head>
  <style>
    .banner
    {
        width: 100%;
      z-index: 0;
        border-radius: 2%;
    }
    .profile
    {
        position: relative;
        top: -100px;
        left: 3%;
        border-radius: 50%;
      z-index: 1;
    }
  </style>
</head>

<div class="main-container" >
    <header class="header-6">
    <div class="branding" >
        <a href="/"> <img class="brand-logo" src= "{% static 'media/vmware-white.png' %}"  width="184" height="60" }} ></a>
    </div>
    <div class="header-nav">

        <a href='/' class="nav-link nav-text">Home</a>
        {% if user.is_authenticated %}
            <a class="nav-link nav-text" href="{% url 'post-create' %}">Feedback</a>
            <a class="active nav-link nav-text" href="{% url 'profile' %}">Profile</a>
            <a class="nav-link nav-text" href="{% url 'logout' %}">Logout</a>

        {% else %}
            <a href="{% url 'login' %}" class="nav-link nav-text">Login</a>
            <a href="{% url 'register' %}" class="nav-link nav-text"> Register</a>
        {% endif %}

    </div>

    </header>

    <div class="content-container">
        <div class="content-area">
        <img class="banner" src={% static 'media/try.jpg' %}  height="350">
        <img class="profile" src="{{ user.profile.image.url }}" width="130" height="130">

            <div class="card" >
            <div class="card-header">
                <h2> <img src={% static 'media/user-line.svg' %}> {{ user.username }}</h2>
            </div>
            <div class="card-block">
                <div class="card-title">
                    <h4> Name: {{ user.first_name }} {{ user.last_name }}</h4>
                    <h4> Email: {{ user.email }}</h4>
                    <h4> Job title: {{ profile.job_title }}</h4>
                    <h4> Contact: {{ profile.contact }}</h4>
                    <h4> Organization: {{ profile.org}}</h4>
                    <h4> Country: {{ profile.country }}</h4>
                </div>
                <div class="card-text">
                </div>
            </div>
        </div>


    </div>



    <nav class="sidenav">
        <section class="sidenav-content">
            <a href={% url 'profile' %} class="nav-link active">
                Profile
            </a>
            <a href={% url 'editProfile' %} class="nav-link">
                Edit Profile
            </a>
            <a href={% url 'user-posts'  user.username %} class="nav-link">
                Posts
            </a>
        </section>
    </nav>

    </div>
</div>
{% endblock content %}
